@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2FFFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-primary {
  @apply bg-green-500 text-white hover:bg-green-600 py-2 px-4 rounded-full;
}

.btn-secondary {
  @apply bg-blue-300 hover:bg-blue-400  text-white py-2 px-4 rounded-full;
}

.btn-text {
  @apply bg-white text-green-500 hover:bg-gray-100 py-2 px-4 rounded-md;
}

.btn-icon {
  @apply bg-white bg-blue-300  hover:bg-blue-400 text-white  py-2 px-3 rounded-full;
}