@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2FFFD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn-primary {
  @apply bg-[#7A84DD] text-white hover:bg-[#5C69DB] py-2 px-4 rounded-full;
}

.btn-secondary {
  @apply bg-[#7ADDC5] hover:bg-[#59DFBF]  text-white py-2 px-4 rounded-full;
}

.btn-text {
  @apply bg-white text-[#7A84DD] hover:bg-gray-100 py-2 px-4 rounded-full;
}

.btn-icon {
  @apply bg-white bg-[#7ADDC5] hover:bg-[#59DFBF] text-white  py-2 px-3 rounded-full;
}